@import '../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-everything;
body {
  padding: 10px;
  font-family: sans-serif;
}
.group-names {
  font-family:tahoma, verdana,helvetica,arial,sans-serif;
  font-weight:bold;
  color:navy;
  font-size:large;
  $list-styl-type:none;
}
.member-names {
  font-weight:normal;
  font-size:normal;
  color:gray;
  list-style-type:none;
}

.card {
  width:400px;
}